{% extends 'network/layout.html' %}

{% block title %}Change Password{% endblock %}

{% block body %}

  <div class="container">
    {% if message %}
      <div>{{ message }}</div>
    {% endif %}
    <div>
      <div class="border border-dark rounded text-center m-1 p-1 logform">
        <div class="text-center my-2">
          <h2>Change Password</h2>
        </div>
        <form method="POST" action="{% url 'changepassword' %}">
          {% csrf_token %}
          <label for="password" class="m-1"><b>{{ form.password.label }}</b></label>
          <div class="m-1">
            {{ form.password }}
          </div>
          <label for="confirmation" class="m-1"><b>{{ form.confirmation.label }}</b></label>
          <div class="m-1">
            {{ form.confirmation}}
          </div>
          <div class="d-flex justify-content-center px-1 py-2">
            <input type="submit" value="Change Password" name="logbtn" class="btn">
          </div>
        </form>
      </div>
      <div class="text-center">
        Don't want to change your password? <a href="{% url 'viewprofile' request.user.id %}">Go back.</a>
      </div>
    </div>
  </div>

{% endblock %}
