{% extends "network/layout.html" %}

{% block title %}Register{% endblock %}

{% block body %}
  <div class="container">

    {% if message %}
        <div class="border border-dark bg-warning text-dark p-2">{{ message }}</div>
    {% endif %}

    <div>
      <div class="border border-dark rounded text-center m-1 p-1 logform">
        <div class="text-center my-2">
          <h1>Register</h1>
        </div>
        <hr>
        <form action="{% url 'register' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <label for="username" class="m-1"><b>{{ form.username.label }}</b></label>
          <div class="m-1">
            {{ form.username }}
          </div>
          <label for="first_name" class="m-1"><b>{{ form.first_name.label }}</b></label>
          <div class="m-1">
            {{ form.first_name }}
          </div>
          <label for="last_name" class="m-1"><b>{{ form.last_name.label }}</b></label>
          <div class="m-1">
            {{ form.last_name }}
          </div>
          <label for="email" class="m-1"><b>{{ form.email.label }}</b></label>
          <div class="m-1">
            {{ form.email }}
          </div>
          <label for="userimage" class="m-1"><b>{{ form.userimage.label }}</b></label>
          <div class="m-1">
            {{ form.userimage }}
          </div>
          <label for="biography" class="m-1"><b>{{ form.biography.label }}</b></label>
          <div class="m-1">
            {{ form.biography }}
          </div>
          <label for="password" class="m-1"><b>{{ form.password.label }}</b></label>
          <div class="m-1">
            {{ form.password }}
          </div>
          <label for="confirmation" class="m-1"><b>{{ form.confirmation.label }}</b></label>
          <div class="m-1">
            {{ form.confirmation }}
          </div>
          <div class="d-flex justify-content-center py-2 px-1">
            <input class="btn" name="logbtn" type="submit" value="Register">
          </div>
        </form>
      </div>
      <div class="text-center m-1">
        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
      </div>
    </div>
  </div>
{% endblock %}
